[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = ./
database          = ./index.txt
new_certs_dir     = ./newcerts
certificate       = ./ca.crt
private_key       = ./ca.key
serial            = /serial
default_md        = sha256
policy            = policy_anything
default_days      = 365
default_crl_days  = 30

[ policy_anything ]
commonName        = supplied

[ crl_ext ]
authorityKeyIdentifier = keyid:always